*.iml
.gradle

/local.properties
local.properties

.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
deploymentTargetDropDown.xml
render.experimental.xml
misc.xml

*.log

.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

*.dex

*.class

bin/
gen/

thumbs.db

*.jks
*.keystore

output.json
google-services.json

*.hprof